#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.col {
  border: solid 2px black;
  width: 100px;
  height: 100px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startButton {
  background: #73ad80;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 22px;
  width: max-content;

}
.startButton:hover {
  background: #217633;
}

.XO {
  border: black 1px solid;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 10px 0;
}

.XO button {
  background: rgb(74, 155, 225);
  margin-top: 20px;
}

.XO button:active {
  background: rgb(0, 0, 0);
}

.X {
  margin-right: 5px;
}
.XO div {
  font-weight: bold;
  font-size: 20px;
}

.hidden {
  display: none;
}

.endGame {
  font-weight: 500;
  padding: 30px;
  border-radius: 50px;
}
.endGameText {
  font-size: 50px;
}
.restartButton {
  background: #e09b32;
  margin: 20px 0;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 20px;
}
.restartButton:hover {
  background: #ae6d0c;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules {
  text-align: left;
  list-style-type:square;
}
